<div class="hero-unit span6">

    <h2>Login</h2>

    <p>Já Possui Cadastro? Então faça seu login</p>
    <form action="@Url.Action("Autentica", "Autenticacao")">
        <input type="text" class="input-block-level" placeholder="E-mail" required />

        <input type="password" class="input-block-level" placeholder="Senha" required />

        <input type="submit" class="btn btn-large btn-primary" value="Fazer Login" required />
    </form>
</div>

<div class="hero-unit span6">
    <h2>Novo Usuário?</h2>

    <p>Se você ainda não tem um cadastro, informe qual é o e-mail que você deseja associar com sua conta</p>

    <form action="@Url.Action("Form", "Usuarios")">
        <input type="text" class="input-block-level" placeholder="E-mail" name="Email" />

        <input type="submit" class="btn btn-large btn-primary" value="Criar Conta" />
    </form>
</div>
@* definindo a section do script. Isso irá para a tag @RenderSection, porque possui a chave "Scripts". A chave foi
    definindo nas duas views
E agora no arquivo ~/Views/Autenticacao/Index.cshtml precisamos definir o que será colocado dentro da seção Scripts, para isso utilizamos um novo comando do Razor chamado @section passando qual é o nome e o bloco de conteúdo da seção.*@
@section Scripts {
    <script src="~/Scripts/jquery-1.7.1.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
}