@{
    string nomeUsuario = "";
    var claims = User.Claims.ToList();
}

@if (!string.IsNullOrWhiteSpace(nomeUsuario))
{
    <div>Olá, @nomeUsuario <a>sair</a></div>
}
else
{
    <div>Nenhum usuário conectado. <a>entrar</a></div>
}